{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * WebForm plugin for Craft CMS 3.x
 *
 * WebForm Settings.twig
 *
 * @author    Tungsten Creative
 * @copyright Copyright (c) 2018 Tungsten Creative
 * @link      http://atomic74.com
 * @package   WebForm
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("tungsten\\webform\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

<h2>Test Email Delivery Settings</h2>

<p>You can test your email delivery templates and form submission using the Mailtrap.</p>

{{ forms.checkboxField({
    label: "Use Mailtrap"|t('app'),
    label: "Use Mailtrap"|t('webform'),
    id: 'testWithMailtrap',
    name: 'testWithMailtrap',
    checked: settings['testWithMailtrap'],
    checked: settings.testWithMailtrap,
    toggle: 'auth-credentials'
}) }}

<div id="auth-credentials" class="nested-fields{% if not settings['testWithMailtrap'] %} hidden{% endif %}">
<div id="auth-credentials" class="nested-fields{% if not settings.testWithMailtrap %} hidden{% endif %}">
    {{ forms.textField({
        label: "Username"|t('app'),
        id: 'testUsername',
        name: 'testUsername',
        value: settings['testUsername']
        value: (settings.testUsername is defined) ? settings.testUsername : '',
        errors: (settings.testUsername is defined) ? settings.getErrors('testUsername') : ''
    }) }}

    {{ forms.passwordField({
        label: "Password"|t('app'),
        id: 'testPassword',
        name: 'testPassword',
        value: settings['testPassword'] ? settings['testPassword']|encenc
        value: (settings.testPassword is defined) ? settings.testPassword : '',
        errors: (settings.testPassword is defined) ? settings.getErrors('testPassword') : ''
    }) }}
</div>

<hr>

<h2>Client Side Validation</h2>

<p>You can use Parsley for client side form submission validation.</p>

{{ forms.checkboxField({
    label: "Use Parsley Client Side JS Validation"|t('webform'),
    id: 'parsleyClientSideValidation',
    name: 'parsleyClientSideValidation',
    checked: settings.parsleyClientSideValidation
}) }}

    }) }}
</div>
