{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * PerForm plugin for Craft CMS 3.x
 *
 * Default Email Content Template
 *
 * @author    Oto Hlincik
 * @copyright Copyright (c) 2018 Perfectus Digital Solutions
 * @link      https://perfectus.us
 * @package   PerForm
 * @since     1.0.0
 */
#}
{# Import the form helper macros #}
{% import 'perform/_email/helpers' as eh %}

{% extends 'perform/_email/layout' %}

{% block subject %}
    {{ subject }}
{% endblock %}

{% block body %}
    {% for field in fields %}
        {% if field.label == "__section__" %}
            <p>&nbsp;</p>
            <h2>{{ eh.formFieldValue(field) }}</h2>
        {% else %}
            {% if field.value is defined and field.value is not empty %}
                <p>
                    <strong>{{ eh.formFieldLabel(field) }}:</strong>
                    {{ eh.formFieldValue(field) }}
                </p>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}
