{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * PerForm plugin for Craft CMS 3.x
 *
 * @author    Oto Hlincik
 * @copyright Copyright (c) 2018 Perfectus Digital Solutions
 * @link      https://perfectus.us
 * @package   PerForm
 * @since     1.0.0
 */
#}
{% do view.registerAssetBundle('perfectus\\perform\\assetbundles\\fe\\PerFormFEAsset') %}

<p class="perform--warning-panel">
    <strong>There is a problem with your settings</strong><br>
    {{ error }}
</p>
