{% do view.registerAssetBundle('tungsten\\webform\\assetbundles\\webform\\WebFormAsset') %}

<p class="webform--warning-panel">
  <strong>There is a problem with your settings</strong><br>
  {{ error }}
</p>
