<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Tungsten Craft CMS</title>

<style>
/* -------------------------------------
    GLOBAL
------------------------------------- */
* {
  margin:0;
  padding:0;
}
* { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

img {
  max-width: 100%;
}
.collapse {
  margin:0;
  padding:0;
}
body {
  -webkit-font-smoothing:antialiased;
  -webkit-text-size-adjust:none;
  width: 100%!important;
  height: 100%;
}

/* -------------------------------------
    ELEMENTS
------------------------------------- */
a { color: #2BA6CB;}

.btn {
  text-decoration:none;
  color: #FFF;
  background-color: #666;
  padding:10px 16px;
  font-weight:bold;
  margin-right:10px;
  text-align:center;
  cursor:pointer;
  display: inline-block;
}

hr {
  height: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-right: 0px none;
  border-width: 1px 0px 0px;
  border-style: solid none none;
  border-color: #eee;
}

/* -------------------------------------
    HEADER
------------------------------------- */
table.head-wrap { width: 100%;}

.header.container table td h1 { font-size: 24px; margin-bottom: 0; }

/* -------------------------------------
    BODY
------------------------------------- */
table.body-wrap { width: 100%;}

/* -------------------------------------
    FOOTER
------------------------------------- */
table.footer-wrap { width: 100%;  clear:both!important; }
.footer-wrap .container { background-color: #f8f8f8; }
.footer-wrap .container .content { padding: 0; }
.footer-wrap .container td.content { padding:8px; vertical-align: middle; }
.footer-wrap .container td.content p { font-size: 12px; margin: 0; line-height: 1; }
.footer-wrap .container td.logo { text-align: right; padding-right: 8px; }

/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1,h2,h3,h4 {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom:15px; color:#000;
}
h1 small, h2 small, h3 small, h4 small, { font-size: 60%; color: #6f6f6f; line-height: 0; text-transform: none; }

h1 { font-weight:500; font-size: 38px;}
h2 { font-weight:500; font-size: 22px;}
h3 { font-weight:900; font-size: 18px;}
h4 { font-weight:900; font-size: 14px; text-transform: uppercase; color:#444;}

.collapse { margin:0!important;}

p, ul {
  margin-bottom: 5px;
  font-weight: normal;
  font-size:14px;
  line-height:1.6;
}

p small { font-size: 85%; color: #666; }

p.lead { font-size:17px; }
p.last { margin-bottom:0px;}

ul li {
  margin-left:5px;
  list-style-position: inside;
}

/* ---------------------------------------------------
    RESPONSIVENESS
    Nuke it from orbit. It's the only way to be sure.
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
  display:block!important;
  max-width:600px!important;
  margin:0 auto!important; /* makes it centered */
  clear:both!important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
  padding:15px;
  max-width:600px;
  margin:0 auto;
  display:block;
}

/* Let's make sure tables in the content area are 100% wide */
.content table { width: 100%; }

/* Be sure to place a .clear element after each set of columns, just to be safe */
.clear { display: block; clear: both; }


/* -------------------------------------------
    PHONE
    For clients that support media queries.
    Nothing fancy.
-------------------------------------------- */
@media only screen and (max-width: 600px) {

  a[class="btn"] { display:block!important; margin-bottom:10px!important; background-image:none!important; margin-right:0!important;}

  div[class="column"] { width: auto!important; float:none!important;}

}
</style>

</head>

<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#eeeeee">
  <tr>
    <td></td>
    <td class="header container" >

        <div class="content">
        <table bgcolor="#eeeeee">
          <tr>
            <td><h1>
              {% block subject %}
                  Tungsten Craft CMS
              {% endblock %}
            </h1></td>
          </tr>
        </table>
        </div>

    </td>
    <td></td>
  </tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">

      <div class="content">
      <table>
        <tr>
          <td>
            {% block body %}
            {% endblock %}
          </td>
        </tr>
      </table>
      </div><!-- /content -->

    </td>
    <td></td>
  </tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
  <tr>
    <td></td>
    <td class="container">

        <!-- content -->
        <div class="content">
        <table>
        <tr>
          <td class="content">
            <p>This email was generated by your Tungsten CMS website.</p>
          </td>
          <td class="logo">
            <a href="http://www.atomic74.com"><img src="https://nlc-helpers.s3.amazonaws.com/philament-37x23.png" alt="Tungsten Creative Group"></a>
          </td>
        </tr>
      </table>
        </div><!-- /content -->

    </td>
    <td></td>
  </tr>
</table><!-- /FOOTER -->

</body>
</html>
